doctype html
head
    title Chess Home
    meta(charset='UTF-8')
    style
        include main.css

.topnav
    a(style="float: left" href='./chess') « Back

div(style='text-align:center')
    h1(style='font-size: 80px') ♟️Chess
    h2(style='font-size: 80px') Recent Games
    table
        tr
            th white
            th black
            th result
            th date
        each row in rows
            tr
                td
                    a(href='./profile?id=' + row.white_id)=row.white_id
                td
                    a(href='./profile?id=' + row.black_id)=row.black_id
                td= row.result
                td= row.game_date
